.State_items_text{
    padding:20px;
    margin: 0 auto;
    width: 1000px;
    height: 792px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.State_items_header {
    margin: 0 auto;
    justify-content: center;
    width: 1000px;
    display: flex;
}
p{
    color: #59595A;
    text-align: justify;
}
.State_items{
    background-color: #F5F5F5;
    text-indent: 25px;
    font-size: 16px;
}
.State_button_material{
    background-color: white;
    border-style: none;
    border-radius:8px;
    min-height: 40px;
}
.State_button_test{
    background-color: white;
    border-style: none;
    border-radius:8px;
    min-height: 40px;
}
.State_buttons{
margin: 0 auto;
justify-content: end;
width: 1000px;
height: 792px;
gap: 10px;
display: flex;
}
.State_button_material:active {
    background-color: #dad7cf;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.State_button_test:active {
    background-color: #dad7cf;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
