
.State_items_header {
 text-align: center;
}
p{
    color: #59595A;
    text-align: justify;
}
.State_items{
    background-color: #F5F5F5;
    text-indent: 25px;
    margin: 15%;
    font-size: 16px;
}
.State_button_material{
    background-color: white;
    border-style: none;
    border-radius:8px;
    min-height: 40px;
}
.State_button_test{
    background-color: white;
    border-style: none;
    border-radius:8px;
    min-height: 40px;
}
.State_buttons{
gap: 10px;
margin-top: 40px;
margin-left: 70%;
align-content: right;
display: inline-flex;
}
.State_button_material:active {
    background-color: #dad7cf;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.State_button_test:active {
    background-color: #dad7cf;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
