.Contact_list
{
    width: 200px;
    align-items: flex-start;
    display: flex;
    list-style: disc none inside;
    flex-direction: column;
    
}
.Social_list
{
    display: flex;
    justify-content: flex-end;
    width: 200px;
    list-style: disc none inside;
    flex-direction: row;
}
.Social_list_head
{
    width: 200px;
    list-style: disc none inside;
    flex-direction: row;
    
}
.Block{
    margin: 0px 100px 300px;
    display: flex;
    justify-content: flex-end;
}
#mail{
    list-style-image: url(C:\Users\admin\Desktop\FrontEnd101\app\public\Images\Subtract.png);   
}
#phone{
    list-style-image: url(C:\Users\admin\Desktop\FrontEnd101\app\public\Images\phone.png); 
}
#geo{
    list-style-image: url(C:\Users\admin\Desktop\FrontEnd101\app\public\Images\geo.png); 
}
#Wk{
border: 1px solid #f1f1f3;
border-radius: 6px;
padding: 12px;
width: 20px;
height: 15px;
    list-style-image: url(C:\Users\admin\Desktop\FrontEnd101\app\public\Images\Vector.png);   
}
#Tg{
border: 1px solid #f1f1f3;
border-radius: 6px;
padding: 12px;
width: 20px;
height: 15px;
    list-style-image: url(C:\Users\admin\Desktop\FrontEnd101\app\public\Images\tg.png); 
}
#Whatsapp{
border: 1px solid #f1f1f3;
border-radius: 6px;
padding: 12px;
width: 20px;
height: 15px;
    list-style-image: url(C:\Users\admin\Desktop\FrontEnd101\app\public\Images\whatsapp.png); 
}
