body{
    background-color:#F5F5F5;
}
.Autorization_list{
    padding-top: 50px;
}
.Autorization_list{
margin-left: auto;
margin-right: auto;
background-color:#FFFFFF;
border-radius: 12px;
padding: 60px;
width: 595px;
height: 425px;
border: 3px solid #FFFFFF;
}
.Autorization_list_items{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
input {
text-indent: 20px;
text-align:start;
font-weight: 400;
font-size: 16px;
line-height: 125%;
background-color: #fcfcfd;
border: 1px solid #f1f1f3;
border-radius: 6px;
padding: 20px;
width: 100%;
width: 475px;
height: 60px;
}
label{
text-align:start;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #262626;
}
.button_Autorization{
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    background-color: #00BC13;
    border-radius: 6px;
    padding: 14px 20px;
    width: 118px;
    height: 49px;
}
.button_Autorization_Block{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.Autorization_head{
    width: 595px;
    height: 200px;
    margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

