body{
    background-color:#F5F5F5;
}
.Registration_list{
margin-left: auto;
margin-right: auto;
background-color:#FFFFFF;
padding: 60px;
border: 3px solid #FFFFFF;
border-radius: 12px;
width: 595px;
height: 757px;         
}
.Registration_list_items{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
input {
    text-indent: 20px;
    text-align:start;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    background-color: #fcfcfd;
    border: 1px solid #f1f1f3;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    width: 475px;
    height: 60px;           
}
label{
text-align:start;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #262626;
}
.Registration_button{
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    background-color: #00BC13;
    border-radius: 6px;
    padding: 14px 20px;
    width: 191px;
    height: 49px;
}
.Registration_button_block{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.Registration_Head{
    width: 595px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


