
.Teacher_box_info{
    display: flex;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #4c4c4d;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 629px;
    height: 324px;
    background-color: #fff;
}
img{
border-radius: 6px;
width: 172px;
height: 172px;
}
.Teacher_box_about{
    padding: 50px;
    justify-content: right;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    
}
.Teacher_box_name{
border-radius: 6px;
margin-top: -72px;
padding: 24px 40px;
width: 629px;
height: 72px;
background-color: #fcfcfd;
}